<mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{recipe.name}}</mat-card-title>
      <mat-card-subtitle>Tasty Recipe</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/{{recipe.picture}}">
    <mat-card-content>
      Here's how to make {{recipe.name}}.
      <ng-container *ngFor="let step of recipe.steps; index as i">
        <p>
               <b>{{i + 1}}. </b> {{step}}
        </p>


      </ng-container>

    </mat-card-content>
  </mat-card>
</mat-card>
